<li>
  <% @parts.each do |part| %>
    <ul><strong><%= part.reference_site %></strong></ul>
    <ul><%= part.reference_part %></ul>
    <ul><%= part.part_type_designation %></ul>
  <% end %>
  <%= link_to 'Ajouter un lot', new_site_part_path(:site_id) %>
</li>
